.process-step-wrapper {
    overflow-x: auto;
    padding: 20px 0;
    height: 100px;
    scrollbar-width: thin;
    scrollbar-color: #6c6c6c #f1f1f1;
}
.process-step-wrapper::-webkit-scrollbar {
    width: 12px;
  }
  
  .process-step-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .process-step-wrapper::-webkit-scrollbar-thumb {
    background-color: #6c6c6c;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
  }
  
  .process-step-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #4c4c4c;
  }
.process-step-container {
    display: flex;
    min-width: max-content;
    position: relative;
}

.process-step {
    position: relative;
    padding: 0 30px;
    min-width: 240px;
    flex: 1;
}

.process-step::before {
    content: attr(data-title);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.85rem;
    font-weight: bold;
    color: #6c757d;
    white-space: nowrap;
    direction: rtl;
}

.process-step::after {
    content: attr(data-step);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #e9ecef;
    color: #6c757d;
    font-weight: bold;
    z-index: 2;
}

.process-step.completed::after {
    content: '\2713'; /* Unicode checkmark */
    background-color: #28a745;
    color: #fff;
}

.process-step.current::after {
    background-color: #ff7300;
    color: #fff;
    content: '⌖';
}

.process-step.upcoming::after {
    background-color: #dc3545;
    color: #fff;
    content: '⃠ ';
}

.process-step .progress {
    height: 4px;
    width: 100%;
    position: absolute;
    top: 13px;
    left: 0;
    background-color: #e9ecef;
}

.process-step .progress-bar {
    transition: width 0.6s ease;
}

.process-step:first-child .progress {
    left: 50%;
    width: 50%;
}

.process-step:last-child .progress {
    width: 50%;
}

.process-step:not(:first-child) .progress {
    left: 0;
}
header {
    background-color: #121f3f;
    color: white;
    padding: 10px 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    /*border-radius: 50%;*/
    width: auto;
    height: 25px;
}
footer {
    background-color: #121f3f;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}
.container {
    margin-top: 60px;
    margin-bottom: 60px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.content {
    flex: 1; /* Take up remaining vertical space */
    /* Example styles for content */
    padding: 20px;
}
.project {
    font-weight: bold;
    color: #080670;
  }
  .card{
    direction: rtl;
  }
  .is-invalid {
    border-color: #dc3545;
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}